USE [master]
GO
/****** Object:  Database [MotorcycleDB]    Script Date: 11.04.2018 16:54:48 ******/
CREATE DATABASE [MotorcycleDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MotorcycleDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MotorcycleDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MotorcycleDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MotorcycleDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MotorcycleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MotorcycleDB]
GO
USE [MotorcycleDB]
GO
/****** Object:  Table [dbo].[PersistedBrands]    Script Date: 11.04.2018 16:54:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersistedBrands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[Description] [varchar](250) NOT NULL,
	[FoundingDate] [datetime] NOT NULL,
	[StyleDescription] [varchar](250) NOT NULL,
	[Picture] [varchar](max) NULL,
 CONSTRAINT [PK_PersistedBrands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersistedModelPerson]    Script Date: 11.04.2018 16:54:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersistedModelPerson](
	[PersonId] [int] NOT NULL,
	[ModelId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersistedModels]    Script Date: 11.04.2018 16:54:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersistedModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[ModelSpecification] [varchar](200) NOT NULL,
	[Price] [decimal](19, 4) NOT NULL,
	[Picture] [varchar](max) NULL,
	[BrandID] [int] NOT NULL,
 CONSTRAINT [PK_PersistedModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersistedPersons]    Script Date: 11.04.2018 16:54:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersistedPersons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[Birthdate] [datetime] NOT NULL,
 CONSTRAINT [PK_PersistedPersons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Model__BrandID__25869641]    Script Date: 11.04.2018 16:54:48 ******/
CREATE NONCLUSTERED INDEX [IX_FK__Model__BrandID__25869641] ON [dbo].[PersistedModels]
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PersistedModelPerson]  WITH CHECK ADD FOREIGN KEY([ModelId])
REFERENCES [dbo].[PersistedModels] ([Id])
GO
ALTER TABLE [dbo].[PersistedModelPerson]  WITH CHECK ADD FOREIGN KEY([PersonId])
REFERENCES [dbo].[PersistedPersons] ([Id])
GO
ALTER TABLE [dbo].[PersistedModels]  WITH CHECK ADD  CONSTRAINT [FK__Model__BrandID__25869641] FOREIGN KEY([BrandID])
REFERENCES [dbo].[PersistedBrands] ([Id])
GO
ALTER TABLE [dbo].[PersistedModels] CHECK CONSTRAINT [FK__Model__BrandID__25869641]
GO
USE [master]
GO
